/* Start Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');    
/* End Font*/


/* Start Body */
body{
    color: rgb(17, 88, 88);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-blue {
    background-color: rgb(199, 192, 118);
}
.bg-red {
    background-color: pink;
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}
/* End Container */

/* Start Logo*/
.logo {
    text-align: center;
}
/* End Logo*/


/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color: rgb(17, 88, 88);
    text-decoration: none;
}
a:hover,
a:active {
    color:rgb(17, 88, 88);
    text-decoration: underline;
}
/* End Anchor / Hyperlink */


/* Start Menu Primer*/
.menu-primer ul {
    background-color: rgba(253, 142, 225, 0.719);
    border-radius: 4px;
}

.menu-primer li {
    border-right: 1px solid rgb(17, 88, 88)d;
    display: inline;
    margin: 0 -4px;
}

.menu-primer a {
    color: rgb(17, 88, 88);
    font-size: 13px;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-primer a:hover {
    background-color: rgb(17, 88, 88);
    color:rgba(253, 142, 225, 0.719);
    text-decoration: none;
}

.menu-primer .active {
    background-color: rgb(17, 88, 88);
    color: rgba(253, 142, 225, 0.719);
    text-decoration-color: none;
}
/* End Menu Primer*/


/* Start Heading */
h1, h2, h3, h4, h5,h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;    
}
/* End Heading */


/* Start Jumbotron */
.jumbotron {
    background-color: rgba(253, 142, 225, 0.719);
    border:1px solid pink;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/* End Jumbotron */


/* Start Main */
.main-home-one {
    float: left;
    width: 49.5%;
}
.main-home-two  {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 140px;
}
/* End Main */

/* Start Box */
.box-heading {
    background-color: rgb(17, 88, 88);
    color: rgba(253, 142, 225, 0.719);
    border: 1px solid rgba(255, 62, 207, 0.719);
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}
.box-isi {
    font-size: 13.5px;
    background-color: rgba(253, 142, 225, 0.719);
    border: 1px solid rgba(255, 62, 207, 0.719);
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/* End Box*/

/* Start Testimonial */
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/* End Testimonial */
 
/* Start Menu Serkunder */
.menu-sekunder {
    background-color: rgba(253, 142, 225, 0.719);
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* End Menu Serkunder */

/* Start Copyright */
.copyright p {
    font-size: 15px;
}
/* End Copyright */








